{% extends 'base.html' %}
{% load widget_tweaks %}
{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'index' %}">主页</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'question' essay.question.set %}">作文题目 {{ essay.question.set }}</a></li>
  <li class="breadcrumb-item active">作文成绩</li>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">最终成绩：  {{ essay.score }}</h1>
        <p class="lead">恭喜你完成此次测评，该作文的最高分数为{{ essay.question.max_score }}分</p>
        <hr class="my-4">
        <p class="display-5"><span class="blue_text">语法拼写更正：</span></p>
        <p class="lead"><pre>{{ essay.report }}</pre></p>
        <hr class="my-4">
        <p>Your essay is graded by the magical power of neural networks.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a>
    </div>

    <div class="container">
            <h2 class="display-4">你的提交</h2>
            <p class="text-justify">{{ essay.content }}</p>
        </div>
{% endblock %}
